# macOS
.DS_Store

# Eclipse
.settings
.project
.classpath

# Maven
target/

# Intellij
.idea/
CoModIDE.iml

# Other Java stuff
*.jar
!lib/*.jar
*.class

# run script
run.sh
run
runMac.sh
runWindows.bat
