<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- Tabs -->
	
	<extension id="DesignPatternsTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Design Patterns"/>
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
		<index value="X"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-DesignPatternsTab.xml"/>
   </extension>

	<!-- Views -->

	<extension id="CodpSelectorView" point="org.protege.editor.core.application.ViewComponent">
		<label value="CODP Selector" />
		<class value="com.karlhammar.xdp.views.CodpSelectorView" />
		<headerColor value="@org.protege.ontologycolor"/>
	</extension>
	
	<extension id="CodpDetailsView" point="org.protege.editor.core.application.ViewComponent">
		<label value="CODP Details" />
		<class value="com.karlhammar.xdp.views.CodpDetailsView" />
		<headerColor value="@org.protege.ontologycolor"/>
	</extension>
    
</plugin>
