<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- Tabs -->
	<extension id="CoModIDETab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="CoModIDE" />
		<class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab" />
		<index value="X" />
		<editorKitId value="OWLEditorKit" />
		<defaultViewConfigFileName value="viewconfig-CoModIDETab.xml" />
	</extension>

	<!-- Views -->
	<extension id="PatternSelectorView"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="CoModIDE Pattern Library" />
		<class value="com.comodide.views.PatternSelectorView" />
		<headerColor value="@org.protege.ontologycolor" />
	</extension>
	<extension id="ConfigurationView"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="CoModIDE Configuration" />
		<class value="com.comodide.views.ConfigurationView" />
		<headerColor value="@org.protege.ontologycolor" />
	</extension>
	<extension id="EditorView"
		point="org.protege.editor.core.application.ViewComponent">
		<label value="CoModIDE Schema Editor" />
		<class value="com.comodide.views.EditorView" />
		<headerColor value="@org.protege.ontologycolor" />
	</extension>

</plugin>
